@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
    
}

html{
  box-sizing: border-box;
  font-size:  62.5%; /*1rem = 10px*/
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2; 
}

/*Globales*/
h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 2rem 0;
}
h1{
  font-size: 5rem;
}
@media (min-width: 768px){
  h1{
    font-size: 5rem;
  }
}

h2{
  font-size: 3.2rem;
}
@media (min-width: 768px){
  h2{
    font-size: 4rem;
  }

}

h3{
  font-size: 2.3rem;
}
@media (min-width: 768px){
  h3{
    font-size: 3rem;
  }

}

a{
  text-decoration: none;
  color: #fff;
}
img{
  max-width: 100%;
  display: block;
}
.contenedor{
  max-width: 120rem;
  margin: 0 auto;
}

.btn{
  /*background-color: #1D327B;*/
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color .3s ease-out;
  text-align: center;
  border: none;
  width: 100%;
}
.btn:hover{
  background-color: #FFE900;
  cursor: pointer;
}
@media(min-width: 768px){
  .btn{
    width: auto;
  }
}

/*UTILIDADES*/

.text-center{
  text-align: center;
}

@media(min-width: 768px){
  .max-width-30{
    max-width: 30rem;
  }
}

/*HEADER - ENCABEZADO*/

.hero{
  background-image: url(../assets/images/fondoHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12rem;
  z-index: 1000;
}
@media (min-width: 768px){
    
 .hero{
    height: 15rem;
    margin-bottom: 4.8rem;
  }
}

.logo-hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.logo-hero img{
  width: 15rem;
}

@media (min-width: 768px){
    
  .logo-hero img{
     width: 30rem;
   }
 }

.menu{
  background-color: #69797d9a;
  margin-top: 3rem;
}

.sub-menu{
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sub-menu img{
  width: 6rem;

}

.sub-menu a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.sub-menu a:hover{
  border-bottom: #ffe800 solid 1px;
  color: #1D327B;
  font-size: 1.5rem;
  font-weight: 800;
}

button{
  background-color: #69797D;
  border: none;
  cursor: pointer;
}

.menu-icon{
  font-size: 3rem;
  cursor: pointer;
  margin-left: 2rem;
  color: #69797D;
}
.menu-icon:hover{
  color: #fff;
}

.menu_checkbox{
  display: none;
}
.menu-mobile-items{
  position: fixed;
  top: 12rem;
  right: 0;
  height: 40rem;
  width: 100%;
  background: #69797D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  transform: translate(100%);
  transition: .4s transform;
}
.menu-mobile-items li{
  list-style: none;
}
.menu-mobile-items a{
  text-decoration: none;
  font-size: 1.8rem;
  color: #1D327B;
  font-weight: 600;
}
:checked + *{
  transform: translate(0);
}
@media (max-width: 760px ) {

  .menu{
      display: none;
  }
}
@media (min-width: 768px ) {

  .menu-mobile{
      display: none;
  }
}
@media (min-width: 1024px){
  .menu-mobile{
      display: none;
  }
}

.sub-hero{
  margin-top: 10rem;
  height: 65rem;
}
@media (min-width: 768px ) {

  .sub-hero{
    /*margin-top: 20rem;*/
    height: 40rem;
    
  }
}
@media (min-width: 1024px ) {

  .sub-hero{
    /*background-image: url(../assets/images/parejaEstudia.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    height: 60rem;
  }
}

.card-hero{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;

}
@media (min-width: 1024px ) {

  .card-hero{
    width: 60rem;
    margin-left: 20rem;
    padding-top: 10rem;
    
  }
}

.card-hero img{
  width: 20rem;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px ) {

  .card-hero img{
    width: 40rem;
  }
}

@media (min-width: 1024px ) {

  .card-hero img{
    width: 40rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
    
  }
}

.card-hero span{
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: 800;
}

.card-hero p{
  text-align: justify;
}

/*CARRUSEL*/

.metodo{
  background-image: url(../assets/images/fondoCarrusel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-width: 120rem;
  width: 100%;
  height: 60rem;
  margin-top: 60rem;
}

.contenido-metodo{
  width: 410px;
  display: grid;
  grid-auto-rows: auto;
  padding-right: 2rem;
}
.metodologia{
  width: 100%;
  font-size: 5rem;
  line-height: 7rem;
  padding: 2rem;
  color: #fff;
}
.metodologia h3{
  /*font-family: "Roboto", sans-serif;*/
  font-weight: 700;
  font-size: 8rem;
  color: #FFE900;
  padding: 1rem;
}
.metodologia p{
  font-size: 5rem;
  color: #FFE900;
}

.carrusel{
  width: 100%;
  height: 60rem;
  /*padding: 2rem;*/
  /*opacity: 0.8;*/
}
.carrusel h3{
  background-color: #004f9e;
  color: #ffe800;
  font-weight: 900;
  opacity: 0.7;
}

@media (min-width: 768px){
  .contenido-metodo{
    width: 760px;
    padding: 3rem;
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/
  }
  .metodologia{
    display: none;
    margin-top: 5rem;
    font-size: 5rem;
    line-height: 7rem;
    color: #fff;
  }
  .metodologia h3{
    /*font-family: "Roboto", sans-serif;*/
    font-weight: 700;
    font-size: 12rem;
    color: #FFE900;
  }
  .metodologia p{
    font-size: 7rem;
    color: #FFE900;
  }
  .carrusel img{
    width: 30%;
    display: block;
    margin: 0 auto;
  }

}

@media (min-width: 1024px ) {
  
  .contenido-metodo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }

  .metodologia{
    display: grid;
    /*margin-top: 3rem;*/
    font-size: 5rem;
    line-height: 7rem;
    color: #fff;
  }

  .contenido-metodo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .carrusel img{
    width: 50%;
  }
}

/*SECCION BOTONES*/

.botones{
  background-color: rgb(233, 232, 232);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 63rem;
  
}
.botones img{
  display: block;
  margin: 0 auto;
}
.botones h4{
  font-size: 5rem;
  font-weight: 800;
}

.sub-botones{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 30rem;
  margin-bottom: 32rem;
  cursor: pointer;
}

.sub-botones img{
  display: block;
  margin: 0 auto;
}

.acceso, .mencion{
  background-image: url(../assets/images/fondoBotonBlanco.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 25rem;
  height: 25rem;
  padding: 2rem;
}

.horario{
  background-image: url(../assets/images/fondoBotonAzul.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 25rem;
  height: 25rem;
  padding: 2rem;
}

.acceso p{
  color: #1D327B;
  line-height: 2rem;
}
.horario p{
  color: #fff;
  line-height: 2rem;
}
.mencion p{
  color: #1D327B;
  line-height: 2rem;
}
.acceso img{
  width: 15rem;
  margin-bottom: 1rem;
}
.horario img{
  width: 9.6rem;
  margin-bottom: 2rem;
}
.mencion img{
  width: 9rem;
  margin-bottom: 1rem;
}

.acceso,
.horario,
.mencion
{
  position: relative;
}

.acceso-hover-text{
  width: 25rem;
  height: 25rem;
  background-image: url(../assets/images/fondoBotonAzul.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s;
}
.acceso-hover-text p
{
  width: 100%;
  font-size: 2rem;
  color: #ffe800;
  margin-top: 10rem;
}

.acceso.boton-back img p{
  opacity: 0;
}
.acceso.boton-back .acceso-hover-text{
  display: block;
  opacity: 1;
} 
.acceso.boton-back .acceso-img,
.acceso.boton-back .acceso-texto
{
  display: none;
}

.horario-hover-text{
  width: 25rem;
  height: 25rem;
  background-image: url(../assets/images/fondoBotonBlanco.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s;
}

.horario-hover-text p
{
  width: 100%;
  font-size: 2rem;
  color: #004f9e;
  margin-top: 10rem;
}

.horario.boton-horario img p{
  opacity: 0;
}
.horario.boton-horario .horario-hover-text{
  display: block;
  opacity: 1;
} 
.horario.boton-back .horario-img,
.horario.boton-back .horario-texto
{
  display: none;
}

.mencion-hover-text{
  width: 25rem;
  height: 25rem;
  background-image: url(../assets/images/fondoBotonAzul.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s;
}

.mencion-hover-text p
{
  width: 100%;
  font-size: 2rem;
  color: #ffe800;
  margin-top: 2rem;
  line-height: 2.5rem;
}

.mencion.boton-mencion img p{
  opacity: 0;
}
.mencion.boton-mencion .mencion-hover-text{
  display: block;
  opacity: 1;
} 
.mencion.boton-mencion .mencion-img,
.mencion.boton-mencion .mencion-texto
{
  display: none;
}

.imagen-superpuesta{
  position: relative;
}
.imagen-superpuesta p{
  position: absolute;
  top: 5%;
  left: 20%;
  font-size: 1.6rem;
}
.imagen-superpuesta h4{
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 3.5rem;
  letter-spacing: 1rem;
}


@media (min-width: 768px){
  .botones{
    height: 80rem;
  }
  
  .sub-botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
  }
  
  .imagen-superpuesta{
    position: relative;
  }

  .imagen-superpuesta p{
    position: absolute;
    top: 3%;
    left: 22%;
    font-size: 3rem;
  }
  .imagen-superpuesta h4{
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 8rem;
    letter-spacing: 1rem;
  }
}

@media (min-width: 1024px){
  .sub-botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 12rem;
  }
  .imagen-superpuesta p{
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 5rem;
  }
  .imagen-superpuesta h4{
    position: absolute;
    top: 12%;
    left: 17%;
    font-size: 15rem;
    letter-spacing: 1rem;
  }
}

footer{
  margin-top: 25rem;
  background-color: #004f9e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.direccion{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.direccion h6{
  font-size: 2rem;
  color: #fff;
}
.direccion p{
  font-size: 1.5rem;
  color: #fff;
  text-align: justify;
}

.fa-location-dot, .fa-phone-volume, .fa-mobile, .fa-envelope{
  margin-right: 1.5rem;
}

.mapa{
  border-radius: 20px;
}

.footer-fin{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: #69797D solid 1px;
  margin-top: 2rem;
}

.texto-footer{
  color: #ffe800;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.iconos{
  display: flex;
  font-size: 4rem;
  gap: 3rem;
  margin-top: 2rem;
  cursor: pointer;
}
.iconos a:hover{
  color: #ffe800;
  font-size: 3rem;
  padding: 0.5rem;
  
}

iframe{
  border-radius: 5px;
}

@media (min-width: 768px){
  footer{
    margin-top: 10rem;
  }
} 
@media (min-width: 1024px){
  footer{
    margin-top: 40rem;
  }
} 

.oferta{
  background-color: #1D327B;
  margin-top: 3rem;
  position: relative;
}

.oferta-titulo{
  width: 50%;
  position: absolute;
  top: 35%;
  left: 20%;
  z-index: 1;
}

.oferta-titulo > *{
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 3.5rem;
  line-height: 5rem;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: #69797D;
}

.carrusel-oferta{
  width: 100%;
  height: 70rem;
  opacity: 0.5;
}

.carrusel-oferta img{
  width: 50%;
  height: 600px;
  margin-top: 10rem;
  object-fit: cover;
  opacity: 0.7;
}

.carrusel-oferta h3{
  background-color: #69797D;
  opacity: 0.7;
}

.contenido{
  width: 100%;
  height: 43rem;
  position: relative;
  background-color: #69797d4d;
  cursor: pointer;
}

.tarjetas{
  display: flex;
  gap: 2rem;
  position: absolute;
  top: -25%;
  left: 18%;
}

.tarjeta-contenido{
  width: 300px;
}

.tarjeta-contenido img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;
  object-fit: cover;
}
.tarjeta-contenido img:hover{
  width: 100%;
  transform: scale(1.1);
  border-radius: 10px;
}
.tarjeta-titulo{
  background-color: #69797D;
}
.tarjeta-titulo h2{
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
 
}
.tarjeta-parrafo{
  width: 30rem;
  height: 25rem;
  background-image: url(../assets/images/fondoBotonBlanco.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: 1s;
}
.tarjeta-parrafo:hover{
  background-image: url(../assets/images/fondoBotonAzul.png);
  opacity: 0.6;
  color: #ffe800;
}
.tarjeta-parrafo{
  margin-top: -2rem;
}
.tarjeta-parrafo p{
  padding: 3rem 2rem 2rem 2rem ;
  font-size: 2rem;
  font-weight: 700;
}
.tarjeta-parrafo p:hover{
  font-size: 2.5rem;
  opacity: 1;
}

.footer-ofacad{
  margin-top: 0;
}
.video-contenido{
  height: 55rem;
  margin-top: 5rem;
}
.video-prom{
  display: block;
  margin: 0 auto;
  height: 50rem;
  padding: 1rem;
}
