/* SECCION MENU Y SUBMENU */
.menu {
  background-color: #fff;
  margin-top: 3rem;
}

.sub-menu {
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sub-menu .menu-item {
  position: relative;
  padding: 1rem 2rem;
}

.sub-menu .menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: #1D327B;
  font-weight: 800;
  cursor: pointer;
  padding: 10px;
}

.sub-menu .menu-item a:hover {
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
}

.sub-menu .dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f5f9fa;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  border-radius: 0 0 10px 10px;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sub-menu .dropdown:hover > ul {
  display: flex;
}

.submenu-secciones {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 1rem;
}

.submenu-secciones h5 {
  font-size: 1rem;
  color: #1D327B;
  margin-bottom: 0.5rem;
}

.submenu-secciones ul {
  list-style: none;
  padding-left: 0;
}

.submenu-secciones ul li {
  margin: 0.5rem 0;
}

.submenu-secciones ul li a {
  text-decoration: none;
  color: #0056b3;
  font-size: 0.9rem;
}

.submenu-secciones ul li a:hover {
  text-decoration: underline;
}

/* Ajustes para que el menu de Formación Continua no cambie */
.formacion-continua ul {
  display: block;
  padding: 0;
}

.formacion-continua ul li {
  padding: 10px;
  background-color: #f5f9fa;
  border-bottom: 1px solid #ddd;
}

.formacion-continua ul li a {
  text-decoration: none;
  color: #1D327B;
  font-weight: 500;
}

.formacion-continua ul li a:hover {
  color: #0056b3;
  text-decoration: underline;
}
