.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1D327B;
  color: #FFF;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 8px !important;
}

.logo-container img {
  max-width: 150px; /* Ajusta el tamaño de tu logo según tus necesidades */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  text-align: right;
}

.user-welcome {
  font-weight: bold;
  margin-right: 10px;
}

.logout-btn {
  background-color: transparent; /* Fondo transparente */
  color: #FFF;
  border: 2px solid #FFF;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #FFF;
  color: #004f9e;
}

.navigation {
  background-color: transparent;
  padding: 10px 5px; /* Ajusta el padding superior e inferior */
  text-align: center; /* Centra los elementos del menú */
}

.menu {
  list-style-type: none;
  display: inline-flex; /* Usa flexbox para centrar los elementos */
  justify-content: center; /* Centra los elementos */
  padding: 0;
}

.menu li {
  margin: 0 1rem; /* Ajusta el margen entre los elementos del menú */
}

.nav-btn {
  text-decoration: none;
  color: #000000;
  border: 2px solid #004f9e;
  padding: 0.5rem 1rem; /* Ajusta el padding */
  border-radius: 105px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  white-space: nowrap;
}

.nav-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  text-align: left;
}

.dropdown-content a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f4f4f4;
}

.nav-btn:hover {
  background-color: #1D327B;
  color: #fff;
}

h2{
text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.column {
  flex: 1;
  padding: 1rem;
  margin: 0 1rem;
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card h2 {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.image-containerH {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 1rem;

}
.image-containerH img {
  width: 10rem; /* Asegura que la imagen ocupe todo el ancho disponible */
  height: 10rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.image-container img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  height: 200px; /* Hace que la imagen sea redonda */
}


.update-photo {
  margin-top: 0.5rem;
  color: #004f9e;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.update-photo:hover {
  color: #accd66;
  text-decoration: underline;
}

.data-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.label {
  font-weight: bold;
}

.value {
  text-align: right;
}

.section-title {
  padding-bottom: 2rem;
}

.payment-table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 1rem;
}

.payment-table th, .payment-table td {
  padding: 0.5rem;
  border: 1px solid #ddd; 
  text-align: center; 
}

.payment-table th {
  background-color: #f0f0f0; 
  font-weight: bold;
}

.saldos-table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 1rem;
}

.saldos-table th, .saldos-table td {
  padding: 0.5rem;
  border: 1px solid #ddd; 
  text-align: center; 
}

.saldos-table th {
  background-color: #f0f0f0; 
  font-weight: bold;
}

/* VENTANA PERFIL */

.data-rowX {
display: flex;
justify-content: space-between;
padding-top: 0.5rem;
padding-bottom: 0.5rem; /* Añadir padding para separar el contenido de la línea */
}

.btn-guardar {
display: block; /* Asegura que el botón ocupe todo el ancho disponible */
margin: 0 auto; /* Establece márgenes automáticos para centrar horizontalmente */
text-align: center;
}

.card.datos-personales {
margin-bottom: 10px; /* Espacio entre tarjetas */
}

.card.card.datos-personales .data-row {
margin-bottom: 10px; /* Espacio entre filas de datos */
}

.card.datos-personales .left-column,
.card.datos-personales .center-column,
.card.datos-personales .right-column {
width: 30%; /* Ancho inicial de las columnas */
float: left; /* Flotar las columnas para alinearlas */
}



.card.datos-personales .right-column {
clear: right; /* Limpiar el flotado a la derecha para evitar el desbordamiento */
}

@media (max-width: 768px) {
.card.datos-personales .left-column,
.card.datos-personales .center-column,
.card.datos-personales .right-column {
  width: 100%; /* Ajustar al ancho completo en dispositivos móviles */
  float: none; /* Anular el flotado en dispositivos móviles */
  padding-right: 0; /* Eliminar el espacio entre columnas en dispositivos móviles */
}
}

.card.domicilios {
  margin-bottom: 10px; /* Espacio entre tarjetas */
}

.card.domicilios .data-row {
  margin-bottom: 10px; /* Espacio entre filas de datos */
}

.card.domicilios .left-column,
.card.domicilios .right-column {
  width: 45%; /* Ancho inicial de las columnas */
  float: left; /* Flotar las columnas para alinearlas */
}

.card.domicilios .right-column {
  clear: right; /* Limpiar el flotado a la derecha para evitar el desbordamiento */
}

@media (max-width: 768px) {
  .card.domicilios .left-column,
  .card.domicilios .right-column {
    width: 100%; /* Ajustar al ancho completo en dispositivos móviles */
    float: none; /* Anular el flotado en dispositivos móviles */
    padding-right: 0; /* Eliminar el espacio entre columnas en dispositivos móviles */
  }
}

.card.info-laboral {
  margin-bottom: 10px; /* Espacio entre tarjetas */
}

.card.info-laboral .data-row {
  margin-bottom: 10px; /* Espacio entre filas de datos */
}

.card.info-laboral .left-column,
.card.info-laboral .right-column {
  width: 45%; /* Ancho inicial de las columnas */
  float: left; /* Flotar las columnas para alinearlas */
}

.card.info-laboral .right-column {
  clear: right; /* Limpiar el flotado a la derecha para evitar el desbordamiento */
}

@media (max-width: 768px) {
  .card.info-laboral .left-column,
  .card.info-laboral .right-column {
    width: 100%; /* Ajustar al ancho completo en dispositivos móviles */
    float: none; /* Anular el flotado en dispositivos móviles */
    padding-right: 0; /* Eliminar el espacio entre columnas en dispositivos móviles */
  }
}

.card.ref-personal {
  margin-bottom: 10px; /* Espacio entre tarjetas */
}

.card.ref-personal .data-row {
  margin-bottom: 10px; /* Espacio entre filas de datos */
}

.card.ref-personal .left-column,
.card.ref-personal .right-column {
  width: 45%; /* Ancho inicial de las columnas */
  float: left; /* Flotar las columnas para alinearlas */
}

.card.ref-personal .right-column {
  clear: right; /* Limpiar el flotado a la derecha para evitar el desbordamiento */
}

@media (max-width: 768px) {
  .card.ref-personal .left-column,
  .card.ref-personal .right-column {
    width: 100%; /* Ajustar al ancho completo en dispositivos móviles */
    float: none; /* Anular el flotado en dispositivos móviles */
    padding-right: 0; /* Eliminar el espacio entre columnas en dispositivos móviles */
  }
}

.card.info-academica {
  margin-bottom: 10px; /* Espacio entre tarjetas */
}

.card.info-academica .data-row {
  margin-bottom: 10px; /* Espacio entre filas de datos */
}

.card.info-academica .left-column,
.card.info-academica .right-column {
  width: 45%; /* Ancho inicial de las columnas */
  float: left; /* Flotar las columnas para alinearlas */
}

.card.info-academica .right-column {
  clear: right; /* Limpiar el flotado a la derecha para evitar el desbordamiento */
}

@media (max-width: 768px) {
  .card.info-academica .left-column,
  .card.info-academica .right-column {
    width: 100%; /* Ajustar al ancho completo en dispositivos móviles */
    float: none; /* Anular el flotado en dispositivos móviles */
    padding-right: 0; /* Eliminar el espacio entre columnas en dispositivos móviles */
  }
}

.card.academico {
  margin-bottom: 10px; /* Espacio entre tarjetas */
}

.card.academico .data-row {
  margin-bottom: 10px; /* Espacio entre filas de datos */
}

.card.academico .left-column,
.card.academico .right-column {
  width: 45%; /* Ancho inicial de las columnas */
  float: left; /* Flotar las columnas para alinearlas */
}

.card.academico .right-column {
  clear: right; /* Limpiar el flotado a la derecha para evitar el desbordamiento */
}

@media (max-width: 768px) {
  .card.academico .left-column,
  .card.academico .right-column {
    width: 100%; /* Ajustar al ancho completo en dispositivos móviles */
    float: none; /* Anular el flotado en dispositivos móviles */
    padding-right: 0; /* Eliminar el espacio entre columnas en dispositivos móviles */
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.button-container {
  text-align: center; /* Centra los botones dentro de su contenedor */
  margin-top: 10px; /* Espacio superior */
}

.btn-acceder {
  background-color: #004f9e;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; /* Asegura que el botón sea un bloque */
    margin: 0 auto; 
}





/*ADMINISTRADOR
  INICIOO 
*/



/*  TRAMITES 
*/
/* Estilos personalizados para el modal */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: 45%;
  margin: 1.75rem auto;
}

.modal-content {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 1.25rem;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  margin: 0;
}

.close {
  padding: .75rem 1.25rem;
  margin: -0.75rem -1.25rem -0.75rem auto;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: .75rem 1.25rem;
  border-top: 1px solid #dee2e6;
  align-items: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}



.hidden {
  display: none;
}

.form-group{
  padding: 0.5rem;
}

.button-X {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50; /* Cambia el color de fondo según tu preferencia */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de mano al pasar sobre el botón */
  font-size: 16px; /* Tamaño de la fuente */
}

/* Estilo para los botones cuando se pasa el cursor por encima */
button-X:hover {
  background-color: #45a049; /* Color de fondo al pasar el cursor */
}



